In [2]:
#1-1
import pandas as pd
df=pd.DataFrame({'A':[10,20,30],'B':[40,50,60]})#辞書型
df

    A   B
0  10  40
1  20  50
2  30  60

In [4]:
df=pd.DataFrame([[10,40],[20,50],[30,60]], columns=['A','B'],index=['a','b','c'])
df

    A   B
a  10  40
b  20  50
c  30  60

In [8]:
df['A']#値取り出し

a    10
b    20
c    30
Name: A, dtype: int64

In [9]:
df.iloc[:,1]

a    40
b    50
c    60
Name: B, dtype: int64

In [10]:
df.iloc[:2]

    A   B
a  10  40
b  20  50

In [12]:
df[df['A']>20]#条件抽出

    A   B
c  30  60

In [13]:
df['A']>20#上の内訳、Trueのみ抽出

a    False
b    False
c     True
Name: A, dtype: bool

In [14]:
df.query('A>10 and B>30')#ブールも使える

    A   B
b  20  50
c  30  60

In [17]:
df2=df[df.loc[:,'B']>50]
df2.head()

    A   B
c  30  60