In [2]:
import pandas as pd
from glob import glob

In [3]:
filepaths = glob('C:/Users/polif/Documents/MYpython/請求書*.xlsx')
filepaths

['C:/Users/polif/Documents/MYpython\\請求書_10月_TTTInc.xlsx',
 'C:/Users/polif/Documents/MYpython\\請求書_11月_ICHIGO.xlsx',
 'C:/Users/polif/Documents/MYpython\\請求書_11月_XYZ株式会社.xlsx',
 'C:/Users/polif/Documents/MYpython\\請求書_12月_CDF商事.xlsx',
 'C:/Users/polif/Documents/MYpython\\請求書_12月_STR_Corp.xlsx',
 'C:/Users/polif/Documents/MYpython\\請求書_12月_TTTInc.xlsx',
 'C:/Users/polif/Documents/MYpython\\請求書_12月_株式会社ABC.xlsx']

In [4]:
def extract(filepath):
    _df=pd.read_excel(filepath)
    columns=_df.iloc[10,[1,2,4,10,11,14]]
    df=_df.iloc[11:23,[1,2,4,10,11,14]]
    df.columns=columns
    df['企業名']=_df.iloc[2,0]
    df['企業コード']=_df.iloc[3,4]
    df['請求書NO']=_df.iloc[2,12]
    df['発行日']=_df.iloc[3,12]
    df['発行者']=_df.iloc[4,12]
    df['発行者コード']=_df.iloc[4,13]
    return df

In [5]:
df=pd.DataFrame()
for filepath in filepaths:
    df=pd.concat([df,extract(filepath)])

In [6]:
df.head()

10,日付,商品コード,品名,数量[L] or [-],単価[¥/L] or [¥],金額,企業名,企業コード,請求書NO,発行日,発行者,発行者コード
11,2020-10-04 00:00:00,GSL0001,レギュラー,20,120,2400,TTT Inc.,6,012,2020/10/31,岸辺,2.0
12,2020-10-05 00:00:00,GSL0002,ハイオク,45,160,7200,TTT Inc.,6,012,2020/10/31,岸辺,2.0
13,2020-10-06 00:00:00,GSL0003,軽油,50,100,5000,TTT Inc.,6,012,2020/10/31,岸辺,2.0
14,2020-10-07 00:00:00,GDS0002,コロン,3,800,2400,TTT Inc.,6,012,2020/10/31,岸辺,2.0
15,2020-10-08 00:00:00,CMT0004,オイル交換,1,1000,1000,TTT Inc.,6,012,2020/10/31,岸辺,2.0

In [7]:
len(df)#行数確認

84

In [8]:
df=df.dropna()

In [9]:
df=df.reset_index(drop=True)#インデックス番号順にする

In [10]:
df

10,日付,商品コード,品名,数量[L] or [-],単価[¥/L] or [¥],金額,企業名,企業コード,請求書NO,発行日,発行者,発行者コード
0,2020-10-04 00:00:00,GSL0001,レギュラー,20,120,2400,TTT Inc.,6,012,2020/10/31,岸辺,2.0
1,2020-10-05 00:00:00,GSL0002,ハイオク,45,160,7200,TTT Inc.,6,012,2020/10/31,岸辺,2.0
2,2020-10-06 00:00:00,GSL0003,軽油,50,100,5000,TTT Inc.,6,012,2020/10/31,岸辺,2.0
3,2020-10-07 00:00:00,GDS0002,コロン,3,800,2400,TTT Inc.,6,012,2020/10/31,岸辺,2.0
4,2020-10-08 00:00:00,CMT0004,オイル交換,1,1000,1000,TTT Inc.,6,012,2020/10/31,岸辺,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...
67,2020-12-20 00:00:00,CMT0004,オイル交換,1,1000,1000,株式会社ABC,1,003,2020/12/28,桜田,5.0
68,2020-12-22 00:00:00,CMT0005,タイヤ交換,1,4000,4000,株式会社ABC,1,003,2020/12/28,桜田,5.0
69,2020-12-22 00:00:00,GDS0001,タイヤ,4,8000,32000,株式会社ABC,1,003,2020/12/28,桜田,5.0
70,2020-12-22 00:00:00,GDS0002,コロン,1,800,800,株式会社ABC,1,003,2020/12/28,桜田,5.0
71,2020-12-22 00:00:00,GDS0003,スナック,3,100,300,株式会社ABC,1,003,2020/12/28,桜田,5.0

In [11]:
df.iloc[:,[6,7]]

10       企業名  企業コード
0   TTT Inc.      6
1   TTT Inc.      6
2   TTT Inc.      6
3   TTT Inc.      6
4   TTT Inc.      6
..       ...    ...
67   株式会社ABC      1
68   株式会社ABC      1
69   株式会社ABC      1
70   株式会社ABC      1
71   株式会社ABC      1

[72 rows x 2 columns]

In [12]:
members=df['発行者'].unique()#何人いるのか

In [13]:
member=members[0]
member

'岸辺'

In [14]:
df['発行者']==member

0      True
1      True
2      True
3      True
4      True
      ...
67    False
68    False
69    False
70    False
71    False
Name: 発行者, Length: 72, dtype: bool

In [15]:
_df=df[df['発行者']==member]#dfで囲むと岸辺のデータのみ抽出される
_df

10,日付,商品コード,品名,数量[L] or [-],単価[¥/L] or [¥],金額,企業名,企業コード,請求書NO,発行日,発行者,発行者コード
0,2020-10-04 00:00:00,GSL0001,レギュラー,20,120,2400,TTT Inc.,6,012,2020/10/31,岸辺,2.0
1,2020-10-05 00:00:00,GSL0002,ハイオク,45,160,7200,TTT Inc.,6,012,2020/10/31,岸辺,2.0
2,2020-10-06 00:00:00,GSL0003,軽油,50,100,5000,TTT Inc.,6,012,2020/10/31,岸辺,2.0
3,2020-10-07 00:00:00,GDS0002,コロン,3,800,2400,TTT Inc.,6,012,2020/10/31,岸辺,2.0
4,2020-10-08 00:00:00,CMT0004,オイル交換,1,1000,1000,TTT Inc.,6,012,2020/10/31,岸辺,2.0
5,2020-10-09 00:00:00,CMT0002,洗車 B,1,1500,1500,TTT Inc.,6,012,2020/10/31,岸辺,2.0
6,2020-10-10 00:00:00,GSL0003,軽油,50,100,5000,TTT Inc.,6,012,2020/10/31,岸辺,2.0
7,2020-10-11 00:00:00,GSL0002,ハイオク,40,160,6400,TTT Inc.,6,012,2020/10/31,岸辺,2.0
8,2020-10-12 00:00:00,CMT0005,タイヤ交換,1,4000,4000,TTT Inc.,6,012,2020/10/31,岸辺,2.0
9,2020-10-13 00:00:00,GSL0003,軽油,50,100,5000,TTT Inc.,6,012,2020/10/31,岸辺,2.0
10,2020-10-14 00:00:00,GSL0003,軽油,50,100,5000,TTT Inc.,6,012,2020/10/31,岸辺,2.0
11,2020-11-12 00:00:00,GSL0001,レギュラー,20,120,2400,ICHIGO,6,012,2020/11/30,岸辺,2.0
12,2020-11-12 00:00:00,GSL0002,ハイオク,45,160,7200,ICHIGO,6,012,2020/11/30,岸辺,2.0
13,2020-11-15 00:00:00,GSL0003,軽油,50,100,5000,ICHIGO,6,012,2020/11/30,岸辺,2.0
14,2020-11-15 00:00:00,GDS0002,コロン,3,800,2400,ICHIGO,6,012,2020/11/30,岸辺,2.0
15,2020-11-20 00:00:00,CMT0004,オイル交換,1,1000,1000,ICHIGO,6,012,2020/11/30,岸辺,2.0
16,2020-11-20 00:00:00,CMT0002,洗車 B,1,1500,1500,ICHIGO,6,012,2020/11/30,岸辺,2.0
17,2020-11-22 00:00:00,GSL0003,軽油,50,100,5000,ICHIGO,6,012,2020/11/30,岸辺,2.0
18,2020-11-22 00:00:00,GSL0002,ハイオク,40,160,6400,ICHIGO,6,012,2020/11/30,岸辺,2.0
49,2020-12-01 00:00:00,GSL0001,レギュラー,35,120,4200,TTT Inc.,6,012,2020/12/30,岸辺,2.0
50,2020-12-06 00:00:00,GSL0001,レギュラー,15,120,1800,TTT Inc.,6,012,2020/12/30,岸辺,2.0
51,2020-12-06 00:00:00,GSL0003,軽油,50,100,5000,TTT Inc.,6,012,2020/12/30,岸辺,2.0
52,2020-12-08 00:00:00,GSL0001,レギュラー,40,120,4800,TTT Inc.,6,012,2020/12/30,岸辺,2.0
53,2020-12-09 00:00:00,GSL0003,軽油,50,100,5000,TTT Inc.,6,012,2020/12/30,岸辺,2.0
54,2020-12-11 00:00:00,GSL0001,レギュラー,30,120,3600,TTT Inc.,6,012,2020/12/30,岸辺,2.0
55,2020-12-17 00:00:00,GSL0003,軽油,50,100,5000,TTT Inc.,6,012,2020/12/30,岸辺,2.0
56,2020-12-20 00:00:00,GSL0002,ハイオク,20,160,3200,TTT Inc.,6,012,2020/12/30,岸辺,2.0
57,2020-12-27 00:00:00,GSL0002,ハイオク,15,160,2400,TTT Inc.,6,012,2020/12/30,岸辺,2.0
58,2020-12-27 00:00:00,GSL0003,軽油,60,100,6000,TTT Inc.,6,012,2020/12/30,岸辺,2.0
59,2020-12-30 00:00:00,GSL0003,軽油,35,100,3500,TTT Inc.,6,012,2020/12/30,岸辺,2.0

In [16]:
_df['金額'].sum()

120300

In [17]:
companies=_df['企業名'].unique()
companies

array(['TTT Inc.', 'ICHIGO'], dtype=object)

In [18]:
companies[0]

'TTT Inc.'

In [19]:
_df[_df['企業名']==companies[0]]#岸辺TTTのみ抽出

10,日付,商品コード,品名,数量[L] or [-],単価[¥/L] or [¥],金額,企業名,企業コード,請求書NO,発行日,発行者,発行者コード
0,2020-10-04 00:00:00,GSL0001,レギュラー,20,120,2400,TTT Inc.,6,012,2020/10/31,岸辺,2.0
1,2020-10-05 00:00:00,GSL0002,ハイオク,45,160,7200,TTT Inc.,6,012,2020/10/31,岸辺,2.0
2,2020-10-06 00:00:00,GSL0003,軽油,50,100,5000,TTT Inc.,6,012,2020/10/31,岸辺,2.0
3,2020-10-07 00:00:00,GDS0002,コロン,3,800,2400,TTT Inc.,6,012,2020/10/31,岸辺,2.0
4,2020-10-08 00:00:00,CMT0004,オイル交換,1,1000,1000,TTT Inc.,6,012,2020/10/31,岸辺,2.0
5,2020-10-09 00:00:00,CMT0002,洗車 B,1,1500,1500,TTT Inc.,6,012,2020/10/31,岸辺,2.0
6,2020-10-10 00:00:00,GSL0003,軽油,50,100,5000,TTT Inc.,6,012,2020/10/31,岸辺,2.0
7,2020-10-11 00:00:00,GSL0002,ハイオク,40,160,6400,TTT Inc.,6,012,2020/10/31,岸辺,2.0
8,2020-10-12 00:00:00,CMT0005,タイヤ交換,1,4000,4000,TTT Inc.,6,012,2020/10/31,岸辺,2.0
9,2020-10-13 00:00:00,GSL0003,軽油,50,100,5000,TTT Inc.,6,012,2020/10/31,岸辺,2.0
10,2020-10-14 00:00:00,GSL0003,軽油,50,100,5000,TTT Inc.,6,012,2020/10/31,岸辺,2.0
49,2020-12-01 00:00:00,GSL0001,レギュラー,35,120,4200,TTT Inc.,6,012,2020/12/30,岸辺,2.0
50,2020-12-06 00:00:00,GSL0001,レギュラー,15,120,1800,TTT Inc.,6,012,2020/12/30,岸辺,2.0
51,2020-12-06 00:00:00,GSL0003,軽油,50,100,5000,TTT Inc.,6,012,2020/12/30,岸辺,2.0
52,2020-12-08 00:00:00,GSL0001,レギュラー,40,120,4800,TTT Inc.,6,012,2020/12/30,岸辺,2.0
53,2020-12-09 00:00:00,GSL0003,軽油,50,100,5000,TTT Inc.,6,012,2020/12/30,岸辺,2.0
54,2020-12-11 00:00:00,GSL0001,レギュラー,30,120,3600,TTT Inc.,6,012,2020/12/30,岸辺,2.0
55,2020-12-17 00:00:00,GSL0003,軽油,50,100,5000,TTT Inc.,6,012,2020/12/30,岸辺,2.0
56,2020-12-20 00:00:00,GSL0002,ハイオク,20,160,3200,TTT Inc.,6,012,2020/12/30,岸辺,2.0
57,2020-12-27 00:00:00,GSL0002,ハイオク,15,160,2400,TTT Inc.,6,012,2020/12/30,岸辺,2.0
58,2020-12-27 00:00:00,GSL0003,軽油,60,100,6000,TTT Inc.,6,012,2020/12/30,岸辺,2.0
59,2020-12-30 00:00:00,GSL0003,軽油,35,100,3500,TTT Inc.,6,012,2020/12/30,岸辺,2.0

In [20]:
_df[_df['企業名']==companies[0]]['金額'].sum()

89400

In [21]:
tot_earnings=_df['金額'].sum()
tot_earnings

120300

In [23]:
pd.DataFrame({'担当者':member,'企業名':'全体','金額':tot_earnings},index=[0])#1行目

  担当者 企業名      金額
0  岸辺  全体  120300

In [35]:
company=companies[1]
company

'ICHIGO'

In [36]:
earnings=_df[_df['企業名']==company]['金額'].sum()
earnings

30900

In [38]:
pd.DataFrame({'企業名':company,'金額':earnings},index=[1])

      企業名     金額
1  ICHIGO  30900

In [39]:
#辞書型もうひとつ　どちらでもOK ,keyはクオーテーションいらない
dict(担当者=member,企業名='全体',金額=tot_earnings)

{'担当者': '岸辺', '企業名': '全体', '金額': 120300}

In [40]:
total_res=[]
for member in members:

    _df=df[df['発行者']==member]
    companies=_df['企業名'].unique()
    tot_earnings=_df['金額'].sum()
    total_res.append(dict(担当者=member,企業名='全体',金額=tot_earnings))
    for company in companies:
    
        earnings=_df[_df['企業名']==company]['金額'].sum()
        total_res.append(dict(企業名=company,金額=earnings))

In [41]:
total_res

[{'担当者': '岸辺', '企業名': '全体', '金額': 120300},
 {'企業名': 'TTT Inc.', '金額': 89400},
 {'企業名': 'ICHIGO', '金額': 30900},
 {'担当者': '山岡', '企業名': '全体', '金額': 35800},
 {'企業名': 'XYZ株式会社', '金額': 35800},
 {'担当者': '桜田', '企業名': '全体', '金額': 154400},
 {'企業名': 'CDF商事', '金額': 39000},
 {'企業名': 'STR Corp.', '金額': 55300},
 {'企業名': '株式会社ABC', '金額': 60100}]

In [42]:
pd.DataFrame(total_res,columns=['担当者','企業名','金額'])

   担当者        企業名      金額
0   岸辺         全体  120300
1  NaN   TTT Inc.   89400
2  NaN     ICHIGO   30900
3   山岡         全体   35800
4  NaN    XYZ株式会社   35800
5   桜田         全体  154400
6  NaN      CDF商事   39000
7  NaN  STR Corp.   55300
8  NaN    株式会社ABC   60100